*.o
*.o64
*.e
*.s
*.lst
FW.SFE
*.bin
*.dis
*.elf
*.lss
*.hex
*.map
*.sym
*.tar*
*.zip
*.7z
.dep
*.csv
.~lock*
html
latex
Doxyfile
log*.txt
sinShort.h
*.disasm
*.rope
gccversion.txt
*.cpio
*.zpaq
*.CPP
*.dot
sdcard

